 h1{
            font-weight: bold;
            color: aquamarine;
        }

        .sub {
            border: none;
            border-radius: 3px;
            background-color: rgb(200, 0, 0);
            color: white;
            margin-left: 20px;
            margin-top: 20px;
            height: 36px;
            width: 105px;
            font-weight: bold;
            cursor: pointer;
            transition: opacity 0.15s;
        }
        .sub:hover {
            opacity: 0.7;
        }
       .sub:active{
            opacity: 0.5;
        }

        .join{
            margin-left: 20px;
            border-color: rgb(0, 119, 255);
            border-radius: 3px;
            color: rgb(0, 119, 255);
            background-color: white;
            height: 36px;
            width: 65px;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
        }
        .join:hover {
            background-color: rgb(51, 140, 241);
            color: white;
        }
        .join:active{
            background-color: white;
            color: rgb(51, 140, 241);
            border: none;
        }

        .tweet{
            margin-left: 20px;
            font-weight: bold;
            color: white;
            border-radius: 20px;
            height: 36px;
            width: 95px;
            background-color: rgb(3, 151, 250);
            border: none;
            font-size: 17px;
            cursor: pointer;
            transition: box-shadow 0.15s;  
        }
        .tweet:hover{
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
        }

        .down{
            margin-left: 20px;
            background-color: white;
            border-radius: 3px;
            border-color: rgb(151, 151, 151);
            color: rgb(151, 151, 151);
            height: 36px;
            width: 98px;
            font-weight: bold;
            font-size: 15px;
            border-width: 1px;
            cursor: pointer;
        }
        .down:hover{
            background-color: rgb(151, 151, 151);
            color: white;
        }
        
        p {
            font-family: Arial, Helvetica, sans-serif;
        }

        .txt{
            font-weight: bold;
            font-size: 18px;
            width: 300px;
            line-height: 24px;
            margin-bottom: 0;
        }

        .below{
            font-size: 14px;
            color: rgb(96, 96, 96);
            margin-top: 5px;
            margin-bottom: 0;
        }

        .below2 {
            font-size: 14px;
            color: rgb(96, 96, 96);
            margin-top: 18px;
            margin-bottom: 0;
        }

        .para{
            font-size: 14px;
            color: rgb(96, 96, 96);
            margin-top: 18px;
            width: 270px;
            line-height: 20px;
        }
        .button-btn{
            margin-bottom: 0;
        }

        .text-txt{
            margin-top: 30px;
            margin-bottom: 0;
        }

        a:hover{
            color: orange;
        }

        .red-ribbon{
            color: white;
            background-color: rgb(227, 65, 64);
            font-size: 14px;
            text-align: center;
            margin-top: 50px;
            padding-top: 15px;
            padding-bottom: 15px;
        }

        .span-txt:hover{
            text-decoration: underline;
            cursor: pointer;
        }

        .new-txt{
            font-family: Arial, Helvetica, sans-serif;
            color: black;
            font-weight: normal;
            margin-bottom: 0;
        }

        .span-new{
            opacity: 0.5;
            font-size: 15px;
        }

        .green-txt{
            color: rgb(3, 139, 3);
            margin-top: 5px;
            margin-bottom: 0;
        }

        .grey-txt{
            color: rgb(173, 173, 173);
            margin-top: 5px;
        }

        .span-red{
            color: rgb(255, 0, 0);;
        }